
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
 
:root{
  --bg-color:#131722;
  --main-font: 'Montserrat Alternates', sans-serif;
  --light-bg:#24baef;
  /* --font-color:#fff; */
}
body  {
/* background-color: var(--bg-color); */
font-family: var(--main-font);
color: var(--font-color);
}
a{
color: var(--font-color);
text-decoration: none;
}
.my_input{
  /* background-color: transparent; */
  border:  solid 1px #a8a8a83d;
  /* color: #fff; */
}
.light-mode {
  background-color: #f5f5f5 !important;
  /* color: #0a0101 !important; */

}

.dark-mode {
  background-color: #131722!important;
  color: #fff !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}
img {
  height: 400px !important;
  object-fit: cover;
}
.img_recomand {
  height: 250px !important;
  object-fit: cover;
}
.wishlist-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.company-img{
  height: 60px !important;
  /* width: 60px; */
object-fit: contain !important;
background-color: #fff;
}
